Código/Dashboard.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "6febbb0ac86d00e6",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "esp32/recepcion",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f1627fc6ced75bf9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 480,
        "wires": [
            [
                "4d7156b3a4fd4f03",
                "5c97e4afad8738e5",
                "582c3264de54bd3b",
                "4a462419107bb443",
                "2becd63b7927ba32",
                "762727e962dff1c4",
                "a92253d6b9fde5d5",
                "15c687769045d515",
                "a3919f7f4ad14719",
                "e8268ebed5647c35",
                "9a5650a04038fa8e",
                "5ec7b348a8818bfb"
            ]
        ]
    },
    {
        "id": "7a017078150a1510",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "7c5c038f8bf9e30e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voltaje [V]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 260,
        "wires": []
    },
    {
        "id": "4d7156b3a4fd4f03",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "getVoltage",
        "func": "var volt = msg.payload.Voltage;\nreturn {payload:volt};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 260,
        "wires": [
            [
                "7a017078150a1510",
                "4a695b346f2d6bba"
            ]
        ]
    },
    {
        "id": "398e7add75bdb0d1",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "7c5c038f8bf9e30e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Corriente [A]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 320,
        "wires": []
    },
    {
        "id": "5c97e4afad8738e5",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "getCurrent",
        "func": "var curr = msg.payload.Current;\nreturn {payload:curr};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 320,
        "wires": [
            [
                "398e7add75bdb0d1",
                "814eea586bc8cfa8"
            ]
        ]
    },
    {
        "id": "e1d2788d6e0742e8",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "7c5c038f8bf9e30e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Potencia [W]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 380,
        "wires": []
    },
    {
        "id": "582c3264de54bd3b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "getPower",
        "func": "var pow = msg.payload.Power;\nreturn {payload:pow};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 380,
        "wires": [
            [
                "e1d2788d6e0742e8",
                "2960322ad4661f3a"
            ]
        ]
    },
    {
        "id": "22880c89bcd767a9",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "7c5c038f8bf9e30e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Energía [kWh]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 440,
        "wires": []
    },
    {
        "id": "4a462419107bb443",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "getEnergy",
        "func": "var ener = msg.payload.Energy;\nreturn {payload:ener};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 440,
        "wires": [
            [
                "22880c89bcd767a9",
                "a8eddf9c5b2261d3"
            ]
        ]
    },
    {
        "id": "e51ce3ec1f35d6a9",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "7c5c038f8bf9e30e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Frecuencia [Hz]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 500,
        "wires": []
    },
    {
        "id": "2becd63b7927ba32",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "getFrequency",
        "func": "var freq = msg.payload.Frequency;\nfreq = parseFloat(freq).toFixed(2);\nreturn {payload:freq};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 500,
        "wires": [
            [
                "e51ce3ec1f35d6a9",
                "eebe1796af54ac98"
            ]
        ]
    },
    {
        "id": "fe4ae0314bd5bd93",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "7c5c038f8bf9e30e",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Factor de potencia",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 560,
        "wires": []
    },
    {
        "id": "762727e962dff1c4",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "getFP",
        "func": "var fp = msg.payload.PF;\nfp = parseFloat(fp).toFixed(4);\nreturn {payload:fp};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 560,
        "wires": [
            [
                "fe4ae0314bd5bd93",
                "69e08ff04686e435"
            ]
        ]
    },
    {
        "id": "4a695b346f2d6bba",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "03de374a29b48ca3",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Voltaje",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "eebe1796af54ac98",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "88278edbcfb29eb0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "Hz",
        "format": "{{value}}",
        "min": "45",
        "max": "62",
        "colors": [
            "#b30000",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 480,
        "wires": []
    },
    {
        "id": "69e08ff04686e435",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "ab559f441b2204f2",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#b30000",
            "#fbff00",
            "#00b500"
        ],
        "seg1": "0.4",
        "seg2": "0.6",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 540,
        "wires": []
    },
    {
        "id": "814eea586bc8cfa8",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "ad20b8a0f6be2ede",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Corriente",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "2960322ad4661f3a",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "7107c44b0ddc7050",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Potencia",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a8eddf9c5b2261d3",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "8bdfdec4e7e4888c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Energía",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a92253d6b9fde5d5",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 180,
        "wires": []
    },
    {
        "id": "fa7c4be973847b22",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "7c5c038f8bf9e30e",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Potencia reactiva [VAr]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 620,
        "wires": []
    },
    {
        "id": "15c687769045d515",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "getReactive",
        "func": "var reac = msg.payload.Reactive;\nreturn {payload:reac};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 620,
        "wires": [
            [
                "fa7c4be973847b22"
            ]
        ]
    },
    {
        "id": "f3e81b1a82d38161",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "7c5c038f8bf9e30e",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Potencia aparente [VA]",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 680,
        "wires": []
    },
    {
        "id": "a3919f7f4ad14719",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "getFP",
        "func": "var ap = msg.payload.Aparent;\nreturn {payload:ap};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 680,
        "wires": [
            [
                "f3e81b1a82d38161"
            ]
        ]
    },
    {
        "id": "097c65e43995abd9",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 800,
        "wires": []
    },
    {
        "id": "8a19712b3887420e",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 370,
        "y": 800,
        "wires": [
            [
                "e17bde42f6c58932"
            ]
        ]
    },
    {
        "id": "e17bde42f6c58932",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "var elec = msg.payload;\n\nmsg.topic = \"INSERT INTO `variables eléctricas`(`Mediciones`) VALUES ('\"+elec+\"')\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 800,
        "wires": [
            [
                "097c65e43995abd9",
                "2e3541e0854b6ab0"
            ]
        ]
    },
    {
        "id": "2e3541e0854b6ab0",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "b77de03b09c2de68",
        "name": "",
        "x": 870,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "e8268ebed5647c35",
        "type": "rate-limiter",
        "z": "f6f2187d.f17ca8",
        "delay_action": "ratelimit",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "drop_select": "queue",
        "addcurrentcount": false,
        "name": "Delay",
        "outputs": "1",
        "buffer_size": "10",
        "buffer_drop": "buffer_drop_old",
        "emit_msg_2nd": false,
        "control_topic": "",
        "version": 0.0018,
        "x": 230,
        "y": 800,
        "wires": [
            [
                "8a19712b3887420e"
            ]
        ]
    },
    {
        "id": "5ec7b348a8818bfb",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "sinVoltage",
        "func": "// Generar una señal senoidal con una frecuencia y amplitud específicas\nconst amplitud = msg.payload.Voltage;\nconst frecuencia = msg.payload.Frequency; // Frecuencia en Hz\nconst tiempo = Date.now(); // Tiempo actual en milisegundos\nconst valorSenoidal = amplitud * Math.sin(2 * Math.PI * frecuencia * tiempo / 60000);\n\n// Crear el mensaje con el valor senoidal\nmsg.payload = valorSenoidal;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 920,
        "wires": [
            [
                "40b29aecda5b6ed9"
            ]
        ]
    },
    {
        "id": "40b29aecda5b6ed9",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "03de374a29b48ca3",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Voltaje - Señal",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "9a5650a04038fa8e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "sinCurrent",
        "func": "// Generar una señal senoidal con una frecuencia y amplitud específicas\nconst amplitud = msg.payload.Current;\nconst frecuencia = msg.payload.Frequency; // Frecuencia en Hz\nconst tiempo = Date.now(); // Tiempo actual en milisegundos\nconst valorSenoidal = amplitud * Math.sin(2 * Math.PI * frecuencia * tiempo / 60000);\n\n// Crear el mensaje con el valor senoidal\nmsg.payload = valorSenoidal;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 980,
        "wires": [
            [
                "22c2f97163d2ef87"
            ]
        ]
    },
    {
        "id": "22c2f97163d2ef87",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "ad20b8a0f6be2ede",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Corriente - Señal",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "f1627fc6ced75bf9",
        "type": "mqtt-broker",
        "z": null,
        "name": "EMQX",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7c5c038f8bf9e30e",
        "type": "ui_group",
        "name": "Monitoreo",
        "tab": "1fa0b317d0102b33",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "03de374a29b48ca3",
        "type": "ui_group",
        "name": "Voltaje",
        "tab": "1fa0b317d0102b33",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "88278edbcfb29eb0",
        "type": "ui_group",
        "name": "Frecuencia",
        "tab": "1fa0b317d0102b33",
        "order": 5,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab559f441b2204f2",
        "type": "ui_group",
        "name": "Factor de potencia",
        "tab": "1fa0b317d0102b33",
        "order": 4,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ad20b8a0f6be2ede",
        "type": "ui_group",
        "name": "Corriente",
        "tab": "1fa0b317d0102b33",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7107c44b0ddc7050",
        "type": "ui_group",
        "name": "Potencia",
        "tab": "1fa0b317d0102b33",
        "order": 6,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8bdfdec4e7e4888c",
        "type": "ui_group",
        "name": "Energía",
        "tab": "1fa0b317d0102b33",
        "order": 7,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b77de03b09c2de68",
        "type": "MySQLdatabase",
        "name": "Phpmyadmin",
        "host": "192.168.60.61",
        "port": "3306",
        "db": "power_quality",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "1fa0b317d0102b33",
        "type": "ui_tab",
        "name": "Monitoreo eléctrico",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]